/* MENU HEADER */
.m-header {
  z-index: 10;
  width: 100%;
  height: 60px;
  min-height: 60px;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  background-color: var(--red-nav);
  box-shadow: 0px 3px 6px #00000029;
}

.m-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.m-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.m-loged-user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.m-ellipse {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--scout-red);
  font-size: 20px;
  border-radius: 50%;
  background-color: var(--white);
  text-transform: capitalize;
}

.m-user-name {
  font-size: 13px;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

/* MENU BODY */
.m-menu-container {
  min-width: 240px;
  width: 240px;
  height: -webkit-fill-available;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
}

.m-menu-static-label {
  width: 100%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  border-bottom: 2px solid var(--background);
}

.m-menu-group {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.m-menu-label {
  font-size: 14px;
  color: var(--title-gray);
  width: -webkit-fill-available;
  height: 36px;
  padding-left: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  border-left: var(--background) solid 3px;
}

.m-menu-label:hover {
  padding-left: 37px;
  border-left: var(--scout-red) solid 3px;
  background-color: var(--menu-hover);
}

/* MENU OTHERS */
.m-container {
  width: 100vw;
  height: 100vh;
  min-width: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.m-body-container {
  width: 100%;
  overflow: auto;
  height: calc(100% - 60px);
  margin-top: 60px;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.m-label {
  width: 180px;
  font-size: 14px;
  color: var(--title-gray);
}

.selected {
  padding-left: 37px;
  border-left: var(--scout-red) solid 3px;
  background-color: var(--menu-hover);
}

.static-selected {
  font-weight: bold;
  z-index: 10;
  box-shadow: 0px 3px 6px #00000029;
}

.m-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.m-component-container {
  width: 100%;
  margin-left: 240px;
  height: max-content;
  padding: 35px 25px;
}

.m-close-session {
  position: absolute;
  right: 10px;
  top: 55px;
  width: 180px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  cursor: pointer;
  background-color: var(--white);
  box-shadow: 0px 3px 6px #00000029;
}

.m-label-header {
  width: 180px;
  font-size: 14px;
  color: var(--white);
}